

{
  "extends": ["airbnb-base"],
  "env": {
    "node": true,
    "es2021": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
},
  "rules": {
    "no-console": "off"
  }
}
