$square-size: 50px;
$square-color: #d280d8;
$background-color: #d2bef5;

$list-background: #eadcfc;
$list-hover: #da91da;

$burger: #1c5081;
$burger-links: #6281d8;
$burger-links-hover: #7691dd;

$menu-hover: #5241a4; // and circles, and error border

$btn-dropdown: #c993ec;
$drawer-background: #c993ec;
$open-btn-and-others: #c993ec;
$btn-hover: #854392;
$navbar-color: #9b80dc;
$text-color-h: #2b1d54;
